/autoTest/BTOSLJ/Report/
/.idea/misc.xml
/.idea/.gitignore
/.idea/Automated Testing.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/autoTest/SLPTYL/TestCase/debuger.py
